header {
    grid-area: header;
    display: flex;
    align-items: center;
}

#header-main {
    flex-grow: 1;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "logo  logo  logo"
        "login title nav"
    ;
}

#logo {
    grid-area: logo;
}

#site-nav {
    grid-area: nav;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#title {
    grid-area: title;
    font-family:"roboto serif";
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}


#rules {
    grid-area: rules;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: flex-start;
}

main {
    grid-area: main;
    overflow: auto;
    display: flex;
	flex-wrap: wrap;
    flex-direction: column;
	justify-content: center;
	align-content: center;
}

#game-board {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}

#leaders {
    grid-area: leaders;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	align-content: flex-start;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    gap: 5px;
}


/***** enter grid and flexbox CSS above this line *****/

.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom: 2px;
}

.login-input {

    width: 30%;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: .8rem;
}

#login-wait {
    display: none;
    align-items: center;
    margin-bottom: 2px;
}

#logging-in {
    border: 4px solid lightgrey;
    border-top: 4px solid blue;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.login-status {
    grid-area: login;
    display: none;
    width: 100%;
    justify-content: center;
    align-items:center;
    font-size: .9rem;
}

.login-status div {
    padding-left: .5em;
    padding-right: .5em; 
}

.login-status a {
    text-decoration: underline;
    font-size: .9rem;
}

.login-status a:hover {
    background-color: lightblue;
    cursor: pointer;
}

.login-status a:visited {
    color: mediumslateblue;
}

/***** login above this line */


.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear infinite;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

* {
    box-sizing: border-box;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

nav ul {
    margin: 4px;
}

#logo {
    width: 95vw;
    max-width: 800px;
    padding-top: 5px;
}

#home-turtle {
    grid-area: turtle;
    width: 16em;
}

#home-title {
    grid-area: home-title;
    font-family:"roboto serif";
    font-weight: 800;
    font-size: 38px;
}

#home-buttons {
    grid-area: buttons;
}

#login {
    grid-area: login;
}

#te-logo {
    height: 6em;
}

#footer-logo {
    height: 2em;
    padding-left: 1em;
}

#monkey {
    width: 7em;
}

#leader-cup {
    height: 5em;
}

#logged-in-icon {
    height: 1.5em;
}

#home {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
        "turtle"
        "home-title"
        "buttons"
        "login"
    ;
    height: 80%;
}



#home button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 15px;
}

#home button:after {
  content: "";
  background-color: lightseagreen;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#home button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  #home button {
    padding: 13px 50px 13px;
  }
}





.game {
    display: flex;
    justify-content: center;
    width: 100%;
}

#game-table {
    border-radius: 5px;
    background: #F0FFFF;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px 5px;
    font: 28px arial;
    box-shadow: 0px 40px 45px rgba(0, 0, 0, .4);
  }
  
  .game-row {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
  
  .game-row + .game-row {
    margin-top: 5px;
  }
  
  .guess-letter {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .7);
    color: black;
    padding: 10px;
    background: #FFF8DC;
    border-radius: 4px;
    text-shadow: 0px 0px 40px #71D4FE, 0px 0px 80px #71D4FE;
    width: 2em;
    text-align: center;
    border: 2px solid grey;
    margin-left: 2px;
    margin-right: 2px;
  }

  .guess-letter:focus{
    outline: none;
  }

  #keyboard {
    border-radius: 5px;
    background: #F0FFFF;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px 5px;
    font: 28px arial;
    box-shadow: 0px 40px 45px rgba(0, 0, 0, .4);
    margin-bottom: 10px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: space-around;
  }
  
  .keyboard-row + .keyboard-row {
    margin-top: 15px;
  }
  
  #keyboard-row-1,
  #keyboard-row-3 {
    padding: 0 5px;
  }
  
  #keyboard-row-2 {
    padding: 0 10px;
  }
  
  .keyboard-letter,.keyboard-ctl {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .7);
    color: black;
    padding: 5px;
    background: #FFF8DC;
    border-radius: 4px;
    text-shadow: 0px 0px 40px #71D4FE, 0px 0px 80px #71D4FE;
    width: 1.4em;
    text-align: center;
  }
  
  .keyboard-row span:hover {
    /*   box-shadow: 0px 2px 10px #040404;*/
    background: #FFEBCD;
    cursor: pointer
  }
  
  #keyboard-row-3 span:first-of-type {
    width: 2.7em;
  }
  
  #keyboard-row-3 span:last-of-type {
    width: 2.5em;
  }
  

@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.vibrate {
    animation-name: shake;
    animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
}

.no-match {
    color: white;
    background-color: #787c7f;
}

.match {
    color: white;
    background-color:	#c8b653;
}

.exact-match {
    color: white;
    background-color: #6ca965;
}

.selected {
    border: 2px solid black;
}

html {
    font-size: 2vw;
}

a:visited {
    color: mediumslateblue;
}

body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

.container {
    padding: 0.5rem;
}

header {
    text-align: center;
    background-color: white;
}

footer {
    font-size: 0.75rem;
    padding: 10px;
}

.sidebar{
    padding-top: 10px;
}

header, .sidebar, main, footer {
    border: solid black 1px;
}

#rule-list{
    font-size: .8rem;
    padding: 10px;
}

#rule-list>li{
    list-style-type: none;
}

#site-nav ul {
    padding-left: 0;
}

#site-nav li {
    display: inline-block;
    list-style: none;
    padding-left: .3em;
    padding-right: .3em;
}

#site-nav li a {
    text-decoration: none;
    font-size: .9em;
}

#site-nav li a:hover {
    background-color: lightblue;
}

#leader-table, #leader-table td , #leader-table th{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 5px;
    font-size: .9rem;
}
 
#leader-table th {
    background-color: lightblue;
}

#leader-table td {
    background-color: white;
}

#leader-table {
    margin: 5px;
}

#popupMsgText {
    text-align: center;
}

.popup-message {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 3px solid black;
    border-radius: 5px;

    z-index: 9;

    width: 40%;
    height: 20%;
    padding: .8rem;
    background-color: white;
}

#loading {
    display: none;
    position:relative;
    height: 100%;
    width:100%;
}

#loading img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

@media screen and (max-width: 768px) {
  

    #leaders{
        flex-direction: column;
        align-items: center;
        align-content: center;

    }

    header {
        flex-direction: column;
    }

    #header-main {
        grid-template-columns: 1fr;
    
        grid-template-areas:
            "logo"
            "title"
            "nav"
            "login"
        ;
    }

    #game-board {
        width: 400px;
    }

    #game-table {
        font: 24px arial;
      }

      #keyboard {
        font: 24px arial;
      }

}

@media screen and (max-width: 500px) {
  

    #game-board {
        width: 300px;
    }

    #game-table {
        font: 20px arial;
      }

      #keyboard {
        font: 20px arial;
      }
}
